<p id="notice"><%= notice %></p>

<%= simple_form_for @post do |f| %>
  <%= f.input :content %>
  <%= f.button :submit %>
<% end %>

<% @posts.each do |post|  %>
<%= post.content  %>
<%= link_to 'Like', like_path(post: "#{post.id}") %><br>
 <%= simple_form_for @comment do |f| %>
 	<%= f.input :content %>
 	<%= f.submit %>
 <% end %>
<% end %>




<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
